body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#eef3f9;
    color:#333;
}

header{
    background:#003366;
    color:white;
    padding:25px;
}

.header-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;
}

.logo{
    width:120px;
}

nav{
    background:#d4af37;
    text-align:center;
    padding:15px;
}

nav a{
    color:#003366;
    text-decoration:none;
    margin:0 18px;
    font-weight:bold;
}

nav a:hover{
    color:white;
}

.hero{

    background-color: #FFF8CC;

    max-width:1100px;

    margin:40px auto;

    padding:50px;

    border-radius:12px;

    box-shadow:0 0 20px rgba(0,0,0,.15);

    text-align:center;

}

.cards{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

    max-width:1100px;

    margin:40px auto;

}

.card{

    background-color: #DFF4FF;

    width:300px;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    border-top:6px solid #003366;

}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

footer{

    background:#003366;

    color:white;

    text-align:center;

    padding:25px;

    margin-top:50px;

}

.pdf-button{
    display:inline-block;
    padding:12px 24px;
    background:#003366;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.pdf-button:hover{
    background:#0055aa;
}

.members{

max-width:1200px;

margin:auto;

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;

padding:50px;

}

.member{

text-align:center;

cursor:pointer;

transition:.3s;

}

.member:hover{

transform:translateY(-8px);

}

.member img{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:5px solid #003366;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.modal{

display:none;

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

background:rgba(0,0,0,.6);

justify-content:center;

align-items:center;

}

.modal-content{

background:white;

padding:35px;

border-radius:15px;

width:600px;

max-width:90%;

text-align:center;

position:relative;

}

.modal-content img{

width:220px;

height:220px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;

}

.close{

position:absolute;

right:20px;

top:15px;

font-size:35px;

cursor:pointer;

}

#main-title-link {
    color: inherit;
    text-decoration: none;
}

.mini-blocks {
    display: flex;
    gap: 15px;
    justify-content: justify;
    margin: 20px 0;
}

.mini-block {
    width: 180px;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
